index.html.erb

<% @images.each do |image| %>
<ul>
	<li><%= image.name %></li>
	<li><%= link_to 'Show', image %></li>
	<li><%= link_to 'Edit', edit_image_path(image) %></li>
	<li><%= link_to 'Destroy', image, method: :delete %></li>
	<!-- <li><%#= image_tag image.screen_cap.url %></li> -->
</ul>
<%end%>
